# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
.*
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before it is passed to PyInstaller and then packed into the exe. You can
#  start by ignoring them here, before you start excluding them from the
#  pack process itself.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/
htmlcov/
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environment
.venv/
venv/
env/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/
.vscode/

# Environment variables
.env
.flaskenv

# Miscellaneous
*.log
Thumbs.db
.DS_Store